*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
    text-align: center;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
}
.sanoq{
    font-size: 40px;
}
.salovat,.zikr1,.zikr2,.zikr3,.zikr4{
    text-transform: capitalize;
    display: none;
}
.active{
    display: inline-block;
}
.click{
    width: 80%;
    padding: 10px;
    border: 2px solid #fff;
    background: #000;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 20px;
}